:root {
    --top: #0b245b;
    --side: #0253b3;
    --back: #faf8ef;
    --boxes: #93c9fa;
    --text: #174240;    
  }
  html {
    /* Makes our life easier ... now width property is actual width */
    box-sizing: border-box;
    font-family: 'Open Sans', "Segoe UI", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  
    color: var(--text);
  }
  
  /*
    Best practice for making everything use our default box-sizing (but still allows for overriding)
    https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
  */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    background-color: var(--back);
    min-height: calc(100vh - 100px);
    letter-spacing: -1px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 5px 0;
  }

  h2 {
    font-weight: 300;
  }
  h4 {
      font-weight: 600;
      margin-top: 0.5em;
  }


.container {
    display: grid;
    grid-gap: 10px;
    grid-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto;
    color: var(--text);
}

/*---------------------------------------------------*/

header{
	color: var(--back);
	grid-column-start: 1;
    grid-column-end: 6;
	background-color: var(--top);
	height: 100%;
	text-align: center;
}

/*---------------------------------------------------*/

.leftside {
    display: flex;
    padding: 20px;
    flex-direction: column;
	text-align: left;
	grid-column-start: 1;
    grid-column-end: 2;
}
    .leftside div {
        display: flex;
        flex-direction: column;
        align-items: left;
		width:100%;
		text-align: left;
        margin: 5px;
    }
	
.leftside_photoview {
    
}
    .leftside_photoview div {
        
    }

/*---------------------------------------------------*/

.main {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: left;
	
	grid-column-start: 2;
    grid-column-end: 4;
	
	border-style: outset;
	border-width: 1px;
	max-width: 600px;
}
    .main div {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin: 5px;		
		border-style: groove;
		border-width: 1px;
    }
	
/*---------------------------------------------------*/

.main_photoview {
    padding: 20px;
	
	grid-column-start: 1;
    grid-column-end: 6;
	
	border-style: outset;
	border-width: 1px;	
}

	.main_photoview .left_photoview{
		float: left;
		width: 50%;
		border-width: 0px;
		margin: 3px;
	}
	
	.main_photoview .right_photoview{
		float: left;
		border-style: groove;
		border-width: 1px;
		margin: 3px;
	}
	
.left_photoview_div{
	float: left;
	width: 200px;
}	
.right_photoview_div{
	float: left;
	width: 200px;
}

#tabDiv{
	clear: both;
}
/*---------------------------------------------------*/

.righside {
    background-color: var(--side);
    color: #e6ded3;
    padding: 20px;
	
	grid-column-start: 4;
    grid-column-end: 6;
	
}
    .righside div {
        margin: 10px;		
		padding: 5px;
    }
/*---------------------------------------------------*/

.righside_photoview {
    
}
    .righside_photoview div {
       
    }
/*---------------------------------------------------*/

#countries_list{
	height:200px;
	overflow-y:scroll;
	margin-top: 5px;
	border-style: groove;
	border-width: 2px;
}

#countries_list ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#countries_list ul li:hover {background: #CCC;}

#countries_filter_div{
	border-style: groove;
	border-width: 2px;
}

/*---------------------------------------------------*/

#cities_list{
	height:200px;
	overflow-y:scroll;
	margin-top: 5px;
	border-style: groove;
	border-width: 2px;
}

#cities_list ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#cities_list ul li:hover {background: #CCC;}

#cities_filter_div{
	border-style: groove;
	border-width: 2px;
	margin-top: 5px;
	padding-bottom: 5px;
}

/*---------------------------------------------------*/

.country_city_details_table tr:nth-child(even){background-color: #f2f2f2;}

#country_map_div{
	overflow-x:scroll;
	overflow-y:scroll;
}
/*---------------------------------------------------*/

picture:hover {background: #CCC;cursor: pointer;}

/*--------------------------------------------------- */
/* copied code from:                                 */
/* https://www.w3schools.com/howto/howto_js_tabs.asp */
/*--------------------------------------------------- */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/*tooltip*/

/*colors*/
.color{
  float: left;
  width: 20px;
  height: 20px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, .2);
}

/*---------------------------------------------------*/

/* mobile size */
@media screen and (max-width: 600px) {
    
}